@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/Shabnam.woff2') format('woff2'),
         url('/fonts/Shabnam.woff') format('woff'),
         url('/fonts/Shabnam.ttf') format('truetype')و
         url('/fonts/Shabnam.eof') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 

  :root{
    --dark-purple-color: #673ab7;
    --dark-blue-color: #1e88e5;
    --light-blue-color: #e3f2fd;
    --light-purple-color: #ede7f6;
  }
  .second-dark-font-color{
    color: #364152;
  }
  .third-dark-font-color{
    color: #697586;
  
  }
  .border-full{
    border-radius: 100%;
  }
  .hover-light-blue:hover{
    background-color: var(--light-blue-color);
    stroke: white;
  }
  .hover-dark-blue:hover{
    background-color: var(--dark-blue-color);
    stroke: white;
  }
  .hover-dark-purple:hover{
    background-color: var(--dark-purple-color);
    stroke: white;
  }
  .hover-light-purple:hover{
    background-color: var(--light-purple-color);
    stroke: white;
  }
  
  .pointer{
    cursor: pointer;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Shabnam', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    align-items: center;
    direction: rtl;
  }
  
  
  a {
    color: inherit;
    text-decoration: none;
  }

  header{
    width: 100%;
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .header-r{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  .header-l{
    width: calc(100%-260px);
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .adminInfoBtn{
    width: 100px;
    height: 75%;
    background-color: var(--light-blue-color);
    border-radius:30px;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    margin-left: 20px;
  }
  .logo{
    width: 180px;
    height: 100%;
    display: flex;
    gap: 5px;

    }
  main{
    width: 100%;
    height:100svh;
    padding: 5px;
    display: flex;
    gap: 5px;
  }
  .nav-closer{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--light-purple-color);
    border-radius: 10px;
  }
  .menu{
    position: sticky;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: start;
    padding: 5px;
  }
  .menu ul {  
    width: 100%;
  }
  .menu ul li{
    list-style: none;
    background-color: none;
    display: flex;
    padding:10px;    
    border-radius: 7px;
    flex-direction: row;
    gap: 8px;
  } 
  
  .content{
    width: calc(100% - 260px);
    height: 100%;
    background-color: rgb(238, 242, 246);    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    margin-left:10px ;
  }
  
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }